* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    /* overflow:hidden; */
    background-color: #2c3a47;
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;
    gap: 50px;
}

.question,
.score {
    font-size: 40px;
    color: white;
}

.options {
    display: flex;
}

.option {
    margin: 20px;
    padding: 20px 40px;
    font-size: 20px;
    background: transparent;
    color: white;
    border: 2px solid black;
}

.option:hover {
    background-color: rgb(28, 59, 49)
}

.result-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
    color: white;
    background-color: #2c3a47;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

table,
th,
td {
    border: 1px solid black;
}

table {
    width: 800px;
    height: 500px;
}

.timer {


    height: 30px;
    display: flex;
    justify-self: left;
    align-self: flex-start
}